
<div class="ui-g-12">
    <h1>Toast sample</h1>

      <p-toast [style]="{marginTop: '80px'}"></p-toast>

      <div>
        <button pButton type="button" label="Click" (click)="displayToast($event)" class="ui-button-rounded ui-button-info" ></button>
      </div>

      <div>
        <button pButton type="button" label="Click" (click)="displayToast($event)" class="ui-button-rounded ui-button-warning" ></button>
      </div>

      <div>
        <button pButton type="button" label="Click" (click)="displayToast($event)" class="ui-button-rounded ui-button-danger" ></button>
      </div>

      <div>
        <button pButton type="button" label="Click" (click)="displayToast($event)" class="ui-button-rounded ui-button-success" ></button>
      </div>
</div>
